.user {
    /* background-color: #474E68; */

    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: medium;
}

.assistant {
    background-color: #212020;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: monospace;
    font-size: large;
    font-weight: 600;
}


.voice-assistant {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    width: 100%;
    height: 100vh;
}

.chat-area {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}

.app-name {
    position: fixed;
    top: 45%;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
    letter-spacing: 40px;
    word-spacing: 10px;
    text-shadow: #D6E4E5 2px 2px 15px;
}

.chat-icon {
    font-size: 28px;
    padding-right: 7px;
}

.chat-text {
    display: grid;
    grid-template-columns: auto auto;

}

.chat-text .chat-icon {
    list-style: none;
    padding-top: 2px;
}

.chat-text p {
    height: 100%;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.loading {
    height: 70px;
}

.loading-icon {
    display: inline-block;
    transform: rotate(45deg);
    font-size: 35px;
    animation: span-right 2s ease infinite;
    position: absolute;
    left: -5%;
    display: flex;
}


@keyframes span-right {
    0% {
        left: -35px;
    }

    100% {
        left: 100vw;
    }
}

@media only screen and (max-width: 767px) {
    .app-name {
        letter-spacing: 25px;
        word-spacing: 5px;
        font-size: medium;
    }
}